<div class="card-deck">
  <div class="card">
    <div class="card-header">Map</div>
    <div class="card-body">
      <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[12]" [center]="[36.1424, 32.8504]" (load)="loadMap($event)">
        <mgl-control mglExtensionDraw></mgl-control>
        <span *ngFor="let event of events"> -->
          <mgl-marker [lngLat]="event.GEO_LOCATION.coordinates" #marker>
            <div class="marker" [ngStyle]="{
                'background-image': 'url(assets/img/marker-red.svg)'
              }"></div>
          </mgl-marker>
          <mgl-popup [marker]="marker" [offset]="[0, -15]">
            <div class="card-text">{{ event.NOTES }}</div>
          </mgl-popup>
        </span>
      </mgl-map>
    </div>
  </div>
</div>