server {
  listen 80;
  return 301 https://$host$request_uri;
}
server {
  gzip                on;
  gzip_types          text/css application/json application/javascript;
  listen              443 ssl;
  listen              [::]:443 ssl;
  ssl_certificate     /etc/nginx/host.cert;
  ssl_certificate_key /etc/nginx/host.key;
  server_name         localhost;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;

    # For Angular routing
    try_files $uri $uri/ /index.html?$args;
  }

  location /api/ {
    # important to have trailing / for url rewriting
    proxy_pass https://${HXE_HOST}:${HXE_PORT}/;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
      root   /usr/share/nginx/html;
  }
}

