<div class="card-deck">
  <div class="card">
    <div class="card-header">Events</div>
    <div class="card-body">
      <p class="card-text">
        Displaying {{ limit * (page - 1)}} to {{ limit * page }} of {{ count }} records
      </p>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Type</th>
              <th>Country</th>
              <th>Fatalities</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events" (click)="viewEvent(template, event)" class="app-row">
              <td>{{ event.eventId }}</td>
              <td>{{ event.eventDate | date }}</td>
              <td>{{ event.eventType }}</td>
              <td>{{ event.countryName }}</td>
              <td>{{ event.fatalities }}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex mb-3">
          <div class="pt-3">
            <label>Page Size:</label>
          </div>
          <div class="mr-auto p-2">
            <select class="form-control ml-2" [(ngModel)]="limit" (change)="limitChanged()">
              <option>10</option>
              <option>50</option>
              <option>100</option>
            </select>
          </div>
          <div class="p-2">
            <pagination [itemsPerPage]="limit" [boundaryLinks]="true" [maxSize]="5" [totalItems]="count"
              [(ngModel)]="page" (pageChanged)="pageChanged($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Event Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>ID:</b> {{ detail.eventId }}</li>
      <li class="list-group-item"><b>Event Type:</b> {{ detail.eventType }}</li>
      <li class="list-group-item"><b>Event Date:</b> {{ detail.eventDate | date}}</li>
      <li class="list-group-item"><b>Country:</b> {{ detail.countryName }}</li>
      <li class="list-group-item"><b>Actor 1:</b> {{ detail.actor1 }}</li>
      <li class="list-group-item"><b>Actor 2:</b> {{ detail.actor2 }}</li>
      <li class="list-group-item"><b>Fatalities:</b> {{ detail.fatalities }}</li>
      <li class="list-group-item"><b>Notes:</b> {{ detail.notes }}</li>
    </ul>
    <mgl-map [style]="'mapbox://styles/mapbox/streets-v9'" [zoom]="[11]" [center]="detail.geoLocation.coordinates">
      <mgl-marker [lngLat]="detail.geoLocation.coordinates">
        <div class="marker"></div>
      </mgl-marker>
    </mgl-map>
  </div>
</ng-template>